.searchBox input.textbox.innerLabel.d3notice { color: #999;}

body .product strong.h3 #similar {font-weight: normal; color: #888;}

body .d3_extsearch_navigation.baseframe {float: left; margin: 0px 0px 0px; font-size: 10px; width: 739px;}

/* azure theme specific */
body div#page.pageLayout .d3_extsearch_navigation.baseframe {width: 739px;}

body .d3_extsearch_navigation.baseframe.fit {height:8px;}
body .d3_extsearch_navigation .headline {background: url("../../img/verlauf.png") repeat-y scroll 0 0 transparent; border: 0px none #969696; border-left: 0px none #969696; border-bottom-style: none; color: #424C56; padding: 5px 5px 8px 7px; width: 726px; margin: -19px 0 0 ; font-size: 11px;}

/* azure theme specific */
body div#page.pageLayout .d3_extsearch_navigation .headline {width: 727px; border-width: 1px; -moz-border-radius: 3px 3px 0px 0px;}

body .d3_extsearch_navigation .message {padding: 5px; border: 1px solid #969696; font-weight: bold;}
body .d3_extsearch_navigation .list {border: 1px none #969696; border-top-style: none; padding: 5px 5px 8px 7px; margin-left:1px;}

/* azure theme specific */
body div#page.pageLayout .d3_extsearch_navigation .list {-moz-border-radius: 0px 0px 3px 3px;}

body .d3_extsearch_navigation .list .item {width: 33%; float: left; font-size: 11px; margin-bottom: 4px;}
body .d3_extsearch_navigation .list .fullitem {float: none; clear: both; width: 100%; text-align: right;}
body .d3_extsearch_navigation .list .item select {width: 95%;}
body .d3_extsearch_navigation .list .item option.desc {background-color: #E2E2E2; text-align: center;}
body .d3_extsearch_navigation .list .item option.highlight {background-color: #E2E2E2;}
body .d3_extsearch_navigation .list .clearitem {float: none; clear: both;}
body .d3_extsearch_navigation .list_link {background: transparent url(bg/oxid.gif) no-repeat scroll 0pt -298px; padding-left: 14px; padding-top: 2px;}
body .d3_extsearch_navigation a.search_results_list_link {font-size: 10px;}
body .d3_extsearch_navigation .buttonframe {text-align: center; padding-top: 5px;}
body .d3_extsearch_navigation .button {border: 1px solid #969696; padding: 2px;}
body .d3_extsearch_navigation .login_button {border: 1px solid #D9D9DB;}
body .d3_extsearch_navigation .indexlink {float: left; min-width: 13px; border: 1px solid #D9D9DB;}
body .d3_extsearch_navigation .indexlink, body .d3_extsearch_navigation .indexlink_usable {-moz-border-radius:5px 5px 0px 0px; font-size: 11px; height: 13px; color: #D0D0D0; float: left; min-width: 9px; border: 1px solid #D9D9DB; border-bottom-style: none; padding: 2px; text-align: center;}

/* azure theme specific */
body .d3_extsearch_navigation .indexlink, body .d3_extsearch_navigation .indexlink_usable {min-width: 14px;}

body .d3_extsearch_navigation .indexlink_usable { background-color: #F0F0F0;}
body .d3_extsearch_navigation .active {background-color: #D0D0D0;}

body #d3_extsearch_quicksearch {/*-moz-box-shadow: 4px 4px 4px #555; box-shadow: 4px 4px 4px #555;*/ background-color: white; border: 1px solid #DDDDDD; width: 343px; height:360px; position:absolute; left:-67px;}
body #d3_extsearch_quicksearch .headline {
	position: relative; color: black; background-color: #FFF; border-bottom: 1px solid #DDDDDD; padding: 3px; font-weight: bold; text-align: left; font-size: 11px;
	}
body #d3_extsearch_quicksearch .closebtn {position: absolute; right: 3px; top: 1px; cursor: pointer; float: right; border: 0px outset black; padding: 0px 0px; background: url("../bg/x_d3_suche.gif") no-repeat scroll 0 0px transparent; height: 19px; width: 20px;}

body #d3_extsearch_quicksearch .list {max-height: 316px; overflow:auto;}
body #d3_extsearch_quicksearch .item_inact, body #d3_extsearch_quicksearch .item_act {cursor:pointer; clear: both; padding: 3px; background-color: white; border-bottom: 1px solid #DDD; text-align: left; width: 318px; margin-right:2px; float: left; color: black; text-decoration: none; font-size: 11px;}
body #d3_extsearch_quicksearch .item_inact .imgframe, body #d3_extsearch_quicksearch .item_act .imgframe {float: left; margin-right: 3px;}
/* sizes from 450 */
body #d3_extsearch_quicksearch .item_inact .imgframe, body #d3_extsearch_quicksearch .item_act .imgframe {border: 1px solid #E2E2E2; height: 50px; width: 50px; background-color: white; text-align: center;}

body #d3_extsearch_quicksearch .list.small .item_inact .descframe, body #d3_extsearch_quicksearch .list.small .item_act .descframe {float: right; color: silver; margin-left: 10px;}

body #d3_extsearch_quicksearch .item_inact .imgframe img, body #d3_extsearch_quicksearch .item_act .imgframe img {text-align: center; width:100%;}
body #d3_extsearch_quicksearch a:hover.item_inact{color: black; text-decoration: none;}
body #d3_extsearch_quicksearch .item_act {background-color: #71A1B6; color: white;}
body #d3_extsearch_quicksearch a:hover.item_act{color: black; text-decoration: none;}
body #d3_extsearch_quicksearch .d3_extsearch_footer {background-color:#AB1E00; border-top: 1px solid #DDDDDD; color: white; display: block; font-weight: normal; height: 21px;}
body #d3_extsearch_quicksearch .d3_extsearch_footer:hover {background-color: #AB1E00;}
body #d3_extsearch_quicksearch .d3_extsearch_footer a {padding: 2px 5px; display: table; background: none repeat scroll 0 0 transparent; border: medium none; color: white; width: 344px;}
body #d3_extsearch_quicksearch .d3_extsearch_footer a:hover {background-color:#AB1E00; text-decoration: none; color: white; width: 333px; font-weight: bold; height:14px;}

body .xajax_resp_cl {display: none; position: absolute; left:-50px; z-index: 1000;}

body .IAS_box {-moz-border-radius: 7px; -moz-box-shadow: 4px 4px 4px #555; /*filter:DropShadow(color=#C0C0C0, offx=3, offy=3);*/ height:70px; width: 200px; background-color:white; position:absolute; left: 50px; top: 50px; display: none; z-index: 1000; border: 2px solid #AB1E00;}
body .IAS_box input, body .IAS_box span {margin: 6px 3px 0; width: 182px;}
body .IAS_box span {float: right; margin-top: 1px;}
body .IAS_box span input {margin: 4px -1px 0px 0px; width: 100px; float:right; text-align: center; -moz-border-radius:0px;}
body .IAS_box .headline {background-color: #AB1E00; color: white; font-weight: bold; padding-left:3px;}
body .IAS_box .headline .closebtn {cursor: pointer; float: right; /*border: 1px outset black;*/ padding: 0px 3px; font-size: 8px; line-height: 10px; margin-right:1px; margin-top:2px;}

body .ui-widget-content .ui-state-default#d3extsearch_priceslider1, body .ui-widget-content .ui-state-default#d3extsearch_priceslider2 {border: none; background: no-repeat transparent; height: 17px; width: 11px;}
body .ui-widget-content .ui-state-default#d3extsearch_priceslider1 {background-image: url("../../img/extsearch_slider_left.png");}
body .ui-widget-content .ui-state-default#d3extsearch_priceslider2 {background-image: url("../../img/extsearch_slider_right.png");}

#similar {padding-left: 10px; color: silver;}